#### Setting environments

In [1]:
import os, itertools, gc
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, matthews_corrcoef, accuracy_score,\
f1_score, precision_score, recall_score, roc_auc_score, average_precision_score

In [2]:
# Set options
embed_ver = ["clstm", "esm2", "bert", "t5"]
test_ver = ["C018", "C039", "C035", "D011", "C048"]

result_path = f"../results/"
save_path = f"../results/prd-conf/"
os.makedirs(save_path, exist_ok=True)

col_str = ['file_id', 'organism', 'locus_tag', 'ess']

In [3]:
# Define function to record perfomance result
def record_perform(comb_ver, file_id, organ, y_real, y_conf, y_prd):    
    if file_id != "O046":
        auc_roc = [roc_auc_score(y_real, y_conf)]
        auc_pr = [average_precision_score(y_real, y_conf)]
    else:
        auc_roc = None
        auc_pr = None
    
    tn, fp, fn, tp = confusion_matrix(y_real, y_prd).ravel()
    
    result = pd.DataFrame({
        "comb": [comb_ver],
        "file": [file_id],
        "organism": [organ],
        "tp": [tp],
        "fp": [fp],
        "tn": [tn],
        "fn": [fn],
        "mcc": [matthews_corrcoef(y_real, y_prd)],
        "acc": [accuracy_score(y_real, y_prd)],
        "f1": [f1_score(y_real, y_prd)],
        "prc": [precision_score(y_real, y_prd)],
        "rec": [recall_score(y_real, y_prd)],
        "npv": [precision_score(1 - y_real, 1 - y_prd)],
        "tnr": [recall_score(1 - y_real, 1 - y_prd)],
        "auc-roc": auc_roc,
        "auc-pr": auc_pr
    })

    return result

#### Evaluate model

In [4]:
df_eval = pd.DataFrame()

for r in range(2, len(embed_ver) + 1):
    combs = list(itertools.combinations(embed_ver, r))
    
    for comb in combs:
        comb_ver = "_".join(comb)
        print(f"\n>>>> {comb_ver} <<<<")
        
        total_conf = []
        total_label = []
        total_cls = []
        for ts_ver in test_ver:
            dfs = [(e_ver, pd.read_csv(f"{result_path}prd-indiv/{e_ver}-{ts_ver}.csv")) for e_ver in comb]

            # merge dataset
            data = dfs[0][1]
            for df in dfs[1:]:
                data = pd.merge(data, df[1], on=col_str, suffixes=("", f"_{df[0]}"))
            
            display("Raw data:", data)
            
            # calculate mean of confidences
            col_num = [col for col in data.columns if col not in col_str]
            data['conf_mean'] = data[col_num].mean(axis=1)
            
            # save the model prediction result
            data.to_csv(f"{save_path}{comb_ver}-{ts_ver}.csv", index=False)

            
            ## evaluations by test dataset ##
            prd_cls = (data['conf_mean'] >= 0.5).astype(int).tolist()
            
            # gather the results
            total_conf.extend(data['conf_mean'].tolist())
            total_label.extend(data['ess'].tolist())
            total_cls.extend(prd_cls)

            # performances by testset
            eval_ts = record_perform(
                comb_ver=comb_ver,
                file_id=ts_ver,
                organ=ts_ver,
                y_real=data['ess'].to_numpy(),
                y_conf=data['conf_mean'].to_numpy(),
                y_prd=np.array(prd_cls)
            )
            df_eval = pd.concat([df_eval, eval_ts], ignore_index=True)
            print(f"- Test in {ts_ver} was done.")
            
            gc.collect()
            
        # performances on total testset
        eval_ts = record_perform(
            comb_ver=comb_ver,
            file_id="total",
            organ="all",
            y_real=np.array(total_label),
            y_conf=np.array(total_conf),
            y_prd=np.array(total_cls)
        )
        df_eval = pd.concat([df_eval, eval_ts], ignore_index=True)
        print(f"- Test in total testset was done.")

# save the model perfomance result
display("Model performance:", df_eval)
df_eval.to_csv(f"{result_path}eval-conf_avg-strain.csv", index=False)

>>>> clstm_esm2 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.010318
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.605639
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.100957
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.522194
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.094325
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.023436
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.165554
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.100853
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.225901
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.134198

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf  conf_esm2
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.134804   0.953238
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.429755   0.945388
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.032648   0.210389
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.965816   0.987183
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.213594   0.766474
...      ...                           ...       ...  ...       ...        ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.027669   0.209520
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.251039   0.566977
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.049817   0.932122
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.032248   0.820162
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.948880   0.920200

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf  conf_esm2
0       C035  Caulobacter crescentus  CCNA_00001    0  0.035923   0.701541
1       C035  Caulobacter crescentus  CCNA_00002    0  0.055995   0.717603
2       C035  Caulobacter crescentus  CCNA_00003    1  0.263427   0.725776
3       C035  Caulobacter crescentus  CCNA_00004    1  0.910427   0.811583
4       C035  Caulobacter crescentus  CCNA_00005    1  0.116005   0.773483
...      ...                     ...         ...  ...       ...        ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.003705   0.297208
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.003215   0.295622
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.038816   0.222185
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.040404   0.370026
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.193816   0.068447

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.971000
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.927131
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.110473
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.477376
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.982977
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.803774
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.749353
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351543
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.454518
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.310317

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.083858
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.005515
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.096812
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.575127
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.610858
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.062600
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.264326
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.157561
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.328888
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.188766

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_bert <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.246610
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.363114
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.251224
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.466607
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.091119
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.048393
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.246618
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.213764
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.120117
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.126530

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf  conf_bert
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.134804   0.936869
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.429755   0.963539
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.032648   0.171440
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.965816   0.882588
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.213594   0.848363
...      ...                           ...       ...  ...       ...        ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.027669   0.361583
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.251039   0.646585
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.049817   0.962627
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.032248   0.663528
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.948880   0.920562

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf  conf_bert
0       C035  Caulobacter crescentus  CCNA_00001    0  0.035923   0.795962
1       C035  Caulobacter crescentus  CCNA_00002    0  0.055995   0.740370
2       C035  Caulobacter crescentus  CCNA_00003    1  0.263427   0.484158
3       C035  Caulobacter crescentus  CCNA_00004    1  0.910427   0.938216
4       C035  Caulobacter crescentus  CCNA_00005    1  0.116005   0.782247
...      ...                     ...         ...  ...       ...        ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.003705   0.740488
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.003215   0.114094
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.038816   0.014372
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.040404   0.301511
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.193816   0.058813

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.617808
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.650813
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.489006
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.320819
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.917249
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.391226
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.506512
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351721
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.518353
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.329547

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.079640
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.149323
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.110480
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.589309
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.633530
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.090554
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.433809
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.306851
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.442205
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.167494

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.155861
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.210970

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf   conf_t5
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.134804  0.968499
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.429755  0.978163
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.032648  0.370244
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.965816  0.970407
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.213594  0.752751
...      ...                           ...       ...  ...       ...       ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.027669  0.189953
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.251039  0.554575
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.049817  0.929061
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.032248  0.775659
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.948880  0.854671

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf   conf_t5
0       C035  Caulobacter crescentus  CCNA_00001    0  0.035923  0.264651
1       C035  Caulobacter crescentus  CCNA_00002    0  0.055995  0.781067
2       C035  Caulobacter crescentus  CCNA_00003    1  0.263427  0.640660
3       C035  Caulobacter crescentus  CCNA_00004    1  0.910427  0.898393
4       C035  Caulobacter crescentus  CCNA_00005    1  0.116005  0.821887
...      ...                     ...         ...  ...       ...       ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.003705  0.573516
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.003215  0.073243
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.038816  0.020885
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.040404  0.248137
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.193816  0.134162

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.921874
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.691487
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> esm2_bert <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.010318,0.246610
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.605639,0.363114
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.100957,0.251224
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.522194,0.466607
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.094325,0.091119
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.023436,0.048393
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.165554,0.246618
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.100853,0.213764
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.225901,0.120117
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.134198,0.126530

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf  conf_bert
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.953238   0.936869
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.945388   0.963539
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.210389   0.171440
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.987183   0.882588
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.766474   0.848363
...      ...                           ...       ...  ...       ...        ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.209520   0.361583
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.566977   0.646585
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.932122   0.962627
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.820162   0.663528
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.920200   0.920562

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf  conf_bert
0       C035  Caulobacter crescentus  CCNA_00001    0  0.701541   0.795962
1       C035  Caulobacter crescentus  CCNA_00002    0  0.717603   0.740370
2       C035  Caulobacter crescentus  CCNA_00003    1  0.725776   0.484158
3       C035  Caulobacter crescentus  CCNA_00004    1  0.811583   0.938216
4       C035  Caulobacter crescentus  CCNA_00005    1  0.773483   0.782247
...      ...                     ...         ...  ...       ...        ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.297208   0.740488
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.295622   0.114094
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.222185   0.014372
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.370026   0.301511
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.068447   0.058813

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.971000,0.617808
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.927131,0.650813
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.110473,0.489006
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.477376,0.320819
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.982977,0.917249
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.803774,0.391226
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.749353,0.506512
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.351543,0.351721
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.454518,0.518353
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.310317,0.329547

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.083858,0.079640
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.005515,0.149323
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.096812,0.110480
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.575127,0.589309
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.610858,0.633530
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.062600,0.090554
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.264326,0.433809
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.157561,0.306851
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.328888,0.442205
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.188766,0.167494

- Test in C048 was done.
- Test in total testset was done.

>>>> esm2_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.010318,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.605639,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.100957,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.522194,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.094325,0.155861
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.023436,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.165554,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.100853,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.225901,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.134198,0.210970

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf   conf_t5
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.953238  0.968499
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.945388  0.978163
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.210389  0.370244
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.987183  0.970407
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.766474  0.752751
...      ...                           ...       ...  ...       ...       ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.209520  0.189953
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.566977  0.554575
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.932122  0.929061
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.820162  0.775659
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.920200  0.854671

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf   conf_t5
0       C035  Caulobacter crescentus  CCNA_00001    0  0.701541  0.264651
1       C035  Caulobacter crescentus  CCNA_00002    0  0.717603  0.781067
2       C035  Caulobacter crescentus  CCNA_00003    1  0.725776  0.640660
3       C035  Caulobacter crescentus  CCNA_00004    1  0.811583  0.898393
4       C035  Caulobacter crescentus  CCNA_00005    1  0.773483  0.821887
...      ...                     ...         ...  ...       ...       ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.297208  0.573516
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.295622  0.073243
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.222185  0.020885
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.370026  0.248137
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.068447  0.134162

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.971000,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.927131,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.110473,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.477376,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.982977,0.921874
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.803774,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.749353,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.351543,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.454518,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.310317,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.083858,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.005515,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.096812,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.575127,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.610858,0.691487
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.062600,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.264326,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.157561,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.328888,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.188766,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> bert_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.246610,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.363114,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.251224,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.466607,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.091119,0.155861
...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.048393,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.246618,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.213764,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.120117,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.126530,0.210970

- Test in C018 was done.

'Raw data:'

     file_id                      organism locus_tag  ess      conf   conf_t5
0       C039  Pseudomonas aeruginosa MPAO1    PA0001    1  0.936869  0.968499
1       C039  Pseudomonas aeruginosa MPAO1    PA0002    1  0.963539  0.978163
2       C039  Pseudomonas aeruginosa MPAO1    PA0003    0  0.171440  0.370244
3       C039  Pseudomonas aeruginosa MPAO1    PA0004    1  0.882588  0.970407
4       C039  Pseudomonas aeruginosa MPAO1    PA0005    0  0.848363  0.752751
...      ...                           ...       ...  ...       ...       ...
5565    C039  Pseudomonas aeruginosa MPAO1    PA5566    0  0.361583  0.189953
5566    C039  Pseudomonas aeruginosa MPAO1    PA5567    0  0.646585  0.554575
5567    C039  Pseudomonas aeruginosa MPAO1    PA5568    1  0.962627  0.929061
5568    C039  Pseudomonas aeruginosa MPAO1    PA5569    1  0.663528  0.775659
5569    C039  Pseudomonas aeruginosa MPAO1    PA5570    1  0.920562  0.854671

[5570 rows x 6 columns]

- Test in C039 was done.

'Raw data:'

     file_id                organism   locus_tag  ess      conf   conf_t5
0       C035  Caulobacter crescentus  CCNA_00001    0  0.795962  0.264651
1       C035  Caulobacter crescentus  CCNA_00002    0  0.740370  0.781067
2       C035  Caulobacter crescentus  CCNA_00003    1  0.484158  0.640660
3       C035  Caulobacter crescentus  CCNA_00004    1  0.938216  0.898393
4       C035  Caulobacter crescentus  CCNA_00005    1  0.782247  0.821887
...      ...                     ...         ...  ...       ...       ...
3881    C035  Caulobacter crescentus  CCNA_03995    0  0.740488  0.573516
3882    C035  Caulobacter crescentus  CCNA_03996    0  0.114094  0.073243
3883    C035  Caulobacter crescentus  CCNA_03997    0  0.014372  0.020885
3884    C035  Caulobacter crescentus  CCNA_03998    0  0.301511  0.248137
3885    C035  Caulobacter crescentus  CCNA_03999    0  0.058813  0.134162

[3886 rows x 6 columns]

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.617808,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.650813,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.489006,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.320819,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.917249,0.921874
...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.391226,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.506512,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.351721,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.518353,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.329547,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.079640,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.149323,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.110480,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.589309,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.633530,0.691487
...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.090554,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.433809,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.306851,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.442205,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.167494,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_esm2_bert <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.010318,0.246610
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.605639,0.363114
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.100957,0.251224
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.522194,0.466607
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.094325,0.091119
...,...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.023436,0.048393
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.165554,0.246618
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.100853,0.213764
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.225901,0.120117
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.134198,0.126530

- Test in C018 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert
0,C039,Pseudomonas aeruginosa MPAO1,PA0001,1,0.134804,0.953238,0.936869
1,C039,Pseudomonas aeruginosa MPAO1,PA0002,1,0.429755,0.945388,0.963539
2,C039,Pseudomonas aeruginosa MPAO1,PA0003,0,0.032648,0.210389,0.171440
3,C039,Pseudomonas aeruginosa MPAO1,PA0004,1,0.965816,0.987183,0.882588
4,C039,Pseudomonas aeruginosa MPAO1,PA0005,0,0.213594,0.766474,0.848363
...,...,...,...,...,...,...,...
5565,C039,Pseudomonas aeruginosa MPAO1,PA5566,0,0.027669,0.209520,0.361583
5566,C039,Pseudomonas aeruginosa MPAO1,PA5567,0,0.251039,0.566977,0.646585
5567,C039,Pseudomonas aeruginosa MPAO1,PA5568,1,0.049817,0.932122,0.962627
5568,C039,Pseudomonas aeruginosa MPAO1,PA5569,1,0.032248,0.820162,0.663528
5569,C039,Pseudomonas aeruginosa MPAO1,PA5570,1,0.948880,0.920200,0.920562

- Test in C039 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert
0,C035,Caulobacter crescentus,CCNA_00001,0,0.035923,0.701541,0.795962
1,C035,Caulobacter crescentus,CCNA_00002,0,0.055995,0.717603,0.740370
2,C035,Caulobacter crescentus,CCNA_00003,1,0.263427,0.725776,0.484158
3,C035,Caulobacter crescentus,CCNA_00004,1,0.910427,0.811583,0.938216
4,C035,Caulobacter crescentus,CCNA_00005,1,0.116005,0.773483,0.782247
...,...,...,...,...,...,...,...
3881,C035,Caulobacter crescentus,CCNA_03995,0,0.003705,0.297208,0.740488
3882,C035,Caulobacter crescentus,CCNA_03996,0,0.003215,0.295622,0.114094
3883,C035,Caulobacter crescentus,CCNA_03997,0,0.038816,0.222185,0.014372
3884,C035,Caulobacter crescentus,CCNA_03998,0,0.040404,0.370026,0.301511
3885,C035,Caulobacter crescentus,CCNA_03999,0,0.193816,0.068447,0.058813

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.971000,0.617808
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.927131,0.650813
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.110473,0.489006
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.477376,0.320819
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.982977,0.917249
...,...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.803774,0.391226
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.749353,0.506512
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351543,0.351721
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.454518,0.518353
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.310317,0.329547

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.083858,0.079640
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.005515,0.149323
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.096812,0.110480
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.575127,0.589309
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.610858,0.633530
...,...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.062600,0.090554
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.264326,0.433809
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.157561,0.306851
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.328888,0.442205
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.188766,0.167494

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_esm2_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.010318,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.605639,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.100957,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.522194,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.094325,0.155861
...,...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.023436,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.165554,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.100853,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.225901,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.134198,0.210970

- Test in C018 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_t5
0,C039,Pseudomonas aeruginosa MPAO1,PA0001,1,0.134804,0.953238,0.968499
1,C039,Pseudomonas aeruginosa MPAO1,PA0002,1,0.429755,0.945388,0.978163
2,C039,Pseudomonas aeruginosa MPAO1,PA0003,0,0.032648,0.210389,0.370244
3,C039,Pseudomonas aeruginosa MPAO1,PA0004,1,0.965816,0.987183,0.970407
4,C039,Pseudomonas aeruginosa MPAO1,PA0005,0,0.213594,0.766474,0.752751
...,...,...,...,...,...,...,...
5565,C039,Pseudomonas aeruginosa MPAO1,PA5566,0,0.027669,0.209520,0.189953
5566,C039,Pseudomonas aeruginosa MPAO1,PA5567,0,0.251039,0.566977,0.554575
5567,C039,Pseudomonas aeruginosa MPAO1,PA5568,1,0.049817,0.932122,0.929061
5568,C039,Pseudomonas aeruginosa MPAO1,PA5569,1,0.032248,0.820162,0.775659
5569,C039,Pseudomonas aeruginosa MPAO1,PA5570,1,0.948880,0.920200,0.854671

- Test in C039 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_t5
0,C035,Caulobacter crescentus,CCNA_00001,0,0.035923,0.701541,0.264651
1,C035,Caulobacter crescentus,CCNA_00002,0,0.055995,0.717603,0.781067
2,C035,Caulobacter crescentus,CCNA_00003,1,0.263427,0.725776,0.640660
3,C035,Caulobacter crescentus,CCNA_00004,1,0.910427,0.811583,0.898393
4,C035,Caulobacter crescentus,CCNA_00005,1,0.116005,0.773483,0.821887
...,...,...,...,...,...,...,...
3881,C035,Caulobacter crescentus,CCNA_03995,0,0.003705,0.297208,0.573516
3882,C035,Caulobacter crescentus,CCNA_03996,0,0.003215,0.295622,0.073243
3883,C035,Caulobacter crescentus,CCNA_03997,0,0.038816,0.222185,0.020885
3884,C035,Caulobacter crescentus,CCNA_03998,0,0.040404,0.370026,0.248137
3885,C035,Caulobacter crescentus,CCNA_03999,0,0.193816,0.068447,0.134162

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.971000,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.927131,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.110473,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.477376,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.982977,0.921874
...,...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.803774,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.749353,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351543,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.454518,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.310317,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.083858,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.005515,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.096812,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.575127,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.610858,0.691487
...,...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.062600,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.264326,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.157561,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.328888,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.188766,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_bert_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.246610,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.363114,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.251224,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.466607,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.091119,0.155861
...,...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.048393,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.246618,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.213764,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.120117,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.126530,0.210970

- Test in C018 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C039,Pseudomonas aeruginosa MPAO1,PA0001,1,0.134804,0.936869,0.968499
1,C039,Pseudomonas aeruginosa MPAO1,PA0002,1,0.429755,0.963539,0.978163
2,C039,Pseudomonas aeruginosa MPAO1,PA0003,0,0.032648,0.171440,0.370244
3,C039,Pseudomonas aeruginosa MPAO1,PA0004,1,0.965816,0.882588,0.970407
4,C039,Pseudomonas aeruginosa MPAO1,PA0005,0,0.213594,0.848363,0.752751
...,...,...,...,...,...,...,...
5565,C039,Pseudomonas aeruginosa MPAO1,PA5566,0,0.027669,0.361583,0.189953
5566,C039,Pseudomonas aeruginosa MPAO1,PA5567,0,0.251039,0.646585,0.554575
5567,C039,Pseudomonas aeruginosa MPAO1,PA5568,1,0.049817,0.962627,0.929061
5568,C039,Pseudomonas aeruginosa MPAO1,PA5569,1,0.032248,0.663528,0.775659
5569,C039,Pseudomonas aeruginosa MPAO1,PA5570,1,0.948880,0.920562,0.854671

- Test in C039 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C035,Caulobacter crescentus,CCNA_00001,0,0.035923,0.795962,0.264651
1,C035,Caulobacter crescentus,CCNA_00002,0,0.055995,0.740370,0.781067
2,C035,Caulobacter crescentus,CCNA_00003,1,0.263427,0.484158,0.640660
3,C035,Caulobacter crescentus,CCNA_00004,1,0.910427,0.938216,0.898393
4,C035,Caulobacter crescentus,CCNA_00005,1,0.116005,0.782247,0.821887
...,...,...,...,...,...,...,...
3881,C035,Caulobacter crescentus,CCNA_03995,0,0.003705,0.740488,0.573516
3882,C035,Caulobacter crescentus,CCNA_03996,0,0.003215,0.114094,0.073243
3883,C035,Caulobacter crescentus,CCNA_03997,0,0.038816,0.014372,0.020885
3884,C035,Caulobacter crescentus,CCNA_03998,0,0.040404,0.301511,0.248137
3885,C035,Caulobacter crescentus,CCNA_03999,0,0.193816,0.058813,0.134162

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.617808,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.650813,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.489006,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.320819,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.917249,0.921874
...,...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.391226,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.506512,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351721,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.518353,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.329547,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.079640,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.149323,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.110480,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.589309,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.633530,0.691487
...,...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.090554,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.433809,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.306851,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.442205,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.167494,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> esm2_bert_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.010318,0.246610,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.605639,0.363114,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.100957,0.251224,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.522194,0.466607,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.094325,0.091119,0.155861
...,...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.023436,0.048393,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.165554,0.246618,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.100853,0.213764,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.225901,0.120117,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.134198,0.126530,0.210970

- Test in C018 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C039,Pseudomonas aeruginosa MPAO1,PA0001,1,0.953238,0.936869,0.968499
1,C039,Pseudomonas aeruginosa MPAO1,PA0002,1,0.945388,0.963539,0.978163
2,C039,Pseudomonas aeruginosa MPAO1,PA0003,0,0.210389,0.171440,0.370244
3,C039,Pseudomonas aeruginosa MPAO1,PA0004,1,0.987183,0.882588,0.970407
4,C039,Pseudomonas aeruginosa MPAO1,PA0005,0,0.766474,0.848363,0.752751
...,...,...,...,...,...,...,...
5565,C039,Pseudomonas aeruginosa MPAO1,PA5566,0,0.209520,0.361583,0.189953
5566,C039,Pseudomonas aeruginosa MPAO1,PA5567,0,0.566977,0.646585,0.554575
5567,C039,Pseudomonas aeruginosa MPAO1,PA5568,1,0.932122,0.962627,0.929061
5568,C039,Pseudomonas aeruginosa MPAO1,PA5569,1,0.820162,0.663528,0.775659
5569,C039,Pseudomonas aeruginosa MPAO1,PA5570,1,0.920200,0.920562,0.854671

- Test in C039 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C035,Caulobacter crescentus,CCNA_00001,0,0.701541,0.795962,0.264651
1,C035,Caulobacter crescentus,CCNA_00002,0,0.717603,0.740370,0.781067
2,C035,Caulobacter crescentus,CCNA_00003,1,0.725776,0.484158,0.640660
3,C035,Caulobacter crescentus,CCNA_00004,1,0.811583,0.938216,0.898393
4,C035,Caulobacter crescentus,CCNA_00005,1,0.773483,0.782247,0.821887
...,...,...,...,...,...,...,...
3881,C035,Caulobacter crescentus,CCNA_03995,0,0.297208,0.740488,0.573516
3882,C035,Caulobacter crescentus,CCNA_03996,0,0.295622,0.114094,0.073243
3883,C035,Caulobacter crescentus,CCNA_03997,0,0.222185,0.014372,0.020885
3884,C035,Caulobacter crescentus,CCNA_03998,0,0.370026,0.301511,0.248137
3885,C035,Caulobacter crescentus,CCNA_03999,0,0.068447,0.058813,0.134162

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.971000,0.617808,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.927131,0.650813,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.110473,0.489006,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.477376,0.320819,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.982977,0.917249,0.921874
...,...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.803774,0.391226,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.749353,0.506512,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.351543,0.351721,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.454518,0.518353,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.310317,0.329547,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_bert,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.083858,0.079640,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.005515,0.149323,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.096812,0.110480,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.575127,0.589309,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.610858,0.633530,0.691487
...,...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.062600,0.090554,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.264326,0.433809,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.157561,0.306851,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.328888,0.442205,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.188766,0.167494,0.192709

- Test in C048 was done.
- Test in total testset was done.

>>>> clstm_esm2_bert_t5 <<<<

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert,conf_t5
0,C018,Escherichia coli K-12 BW25113,BW25113_0001,0,0.154492,0.010318,0.246610,0.037812
1,C018,Escherichia coli K-12 BW25113,BW25113_0002,0,0.200179,0.605639,0.363114,0.126633
2,C018,Escherichia coli K-12 BW25113,BW25113_0003,0,0.057514,0.100957,0.251224,0.317407
3,C018,Escherichia coli K-12 BW25113,BW25113_0004,0,0.244505,0.522194,0.466607,0.214612
4,C018,Escherichia coli K-12 BW25113,BW25113_0005,0,0.121918,0.094325,0.091119,0.155861
...,...,...,...,...,...,...,...,...
4308,C018,Escherichia coli K-12 BW25113,BW25113_4702,0,0.458123,0.023436,0.048393,0.008008
4309,C018,Escherichia coli K-12 BW25113,BW25113_4703,0,0.043490,0.165554,0.246618,0.196018
4310,C018,Escherichia coli K-12 BW25113,BW25113_4705,0,0.056452,0.100853,0.213764,0.151947
4311,C018,Escherichia coli K-12 BW25113,BW25113_4706,0,0.040557,0.225901,0.120117,0.440166
4312,C018,Escherichia coli K-12 BW25113,BW25113_4708,0,0.073036,0.134198,0.126530,0.210970

- Test in C018 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert,conf_t5
0,C039,Pseudomonas aeruginosa MPAO1,PA0001,1,0.134804,0.953238,0.936869,0.968499
1,C039,Pseudomonas aeruginosa MPAO1,PA0002,1,0.429755,0.945388,0.963539,0.978163
2,C039,Pseudomonas aeruginosa MPAO1,PA0003,0,0.032648,0.210389,0.171440,0.370244
3,C039,Pseudomonas aeruginosa MPAO1,PA0004,1,0.965816,0.987183,0.882588,0.970407
4,C039,Pseudomonas aeruginosa MPAO1,PA0005,0,0.213594,0.766474,0.848363,0.752751
...,...,...,...,...,...,...,...,...
5565,C039,Pseudomonas aeruginosa MPAO1,PA5566,0,0.027669,0.209520,0.361583,0.189953
5566,C039,Pseudomonas aeruginosa MPAO1,PA5567,0,0.251039,0.566977,0.646585,0.554575
5567,C039,Pseudomonas aeruginosa MPAO1,PA5568,1,0.049817,0.932122,0.962627,0.929061
5568,C039,Pseudomonas aeruginosa MPAO1,PA5569,1,0.032248,0.820162,0.663528,0.775659
5569,C039,Pseudomonas aeruginosa MPAO1,PA5570,1,0.948880,0.920200,0.920562,0.854671

- Test in C039 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert,conf_t5
0,C035,Caulobacter crescentus,CCNA_00001,0,0.035923,0.701541,0.795962,0.264651
1,C035,Caulobacter crescentus,CCNA_00002,0,0.055995,0.717603,0.740370,0.781067
2,C035,Caulobacter crescentus,CCNA_00003,1,0.263427,0.725776,0.484158,0.640660
3,C035,Caulobacter crescentus,CCNA_00004,1,0.910427,0.811583,0.938216,0.898393
4,C035,Caulobacter crescentus,CCNA_00005,1,0.116005,0.773483,0.782247,0.821887
...,...,...,...,...,...,...,...,...
3881,C035,Caulobacter crescentus,CCNA_03995,0,0.003705,0.297208,0.740488,0.573516
3882,C035,Caulobacter crescentus,CCNA_03996,0,0.003215,0.295622,0.114094,0.073243
3883,C035,Caulobacter crescentus,CCNA_03997,0,0.038816,0.222185,0.014372,0.020885
3884,C035,Caulobacter crescentus,CCNA_03998,0,0.040404,0.370026,0.301511,0.248137
3885,C035,Caulobacter crescentus,CCNA_03999,0,0.193816,0.068447,0.058813,0.134162

- Test in C035 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert,conf_t5
0,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00001,1,0.067735,0.971000,0.617808,0.906970
1,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00002,1,0.953220,0.927131,0.650813,0.850528
2,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00003,0,0.836021,0.110473,0.489006,0.346655
3,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00004,0,0.093650,0.477376,0.320819,0.409912
4,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_00005,1,0.984334,0.982977,0.917249,0.921874
...,...,...,...,...,...,...,...,...
2887,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02794,0,0.124091,0.803774,0.391226,0.666162
2888,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02795,0,0.074949,0.749353,0.506512,0.258614
2889,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02801,0,0.087984,0.351543,0.351721,0.557943
2890,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02811,0,0.077444,0.454518,0.518353,0.411126
2891,D011,Staphylococcus aureus subsp. aureus NCTC 8325,SAOUHSC_A02856,0,0.101714,0.310317,0.329547,0.270637

- Test in D011 was done.

'Raw data:'

,file_id,organism,locus_tag,ess,conf,conf_esm2,conf_bert,conf_t5
0,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0001,0,0.042788,0.083858,0.079640,0.057938
1,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0002,0,0.063893,0.005515,0.149323,0.128610
2,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0003,0,0.037608,0.096812,0.110480,0.038551
3,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0004,1,0.039393,0.575127,0.589309,0.561807
4,C048,Bacteroides thetaiotaomicron VPI-5482,BT_0005,0,0.048480,0.610858,0.633530,0.691487
...,...,...,...,...,...,...,...,...
4820,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548234,0,0.081106,0.062600,0.090554,0.128954
4821,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548235,0,0.031723,0.264326,0.433809,0.218671
4822,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548236,0,0.141442,0.157561,0.306851,0.066294
4823,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548237,0,0.027046,0.328888,0.442205,0.207544
4824,C048,Bacteroides thetaiotaomicron VPI-5482,BT_p548238,0,0.041844,0.188766,0.167494,0.192709

- Test in C048 was done.
- Test in total testset was done.

'Model performance:'

,comb,file,organism,tp,fp,tn,fn,mcc,acc,f1,prc,rec,npv,tnr,auc-roc,auc-pr
0,clstm_esm2,C018,C018,260,206,3809,38,0.670862,0.943427,0.680628,0.557940,0.872483,0.990122,0.948692,0.944941,0.746249
1,clstm_esm2,C039,C039,256,202,5017,95,0.610901,0.946679,0.632880,0.558952,0.729345,0.981416,0.961295,0.964949,0.711951
2,clstm_esm2,C035,C035,307,188,3218,173,0.576736,0.907102,0.629744,0.620202,0.639583,0.948983,0.944803,0.925803,0.719834
3,clstm_esm2,D011,D011,194,288,2321,89,0.458522,0.869640,0.507190,0.402490,0.685512,0.963071,0.889613,0.866100,0.535826
4,clstm_esm2,C048,C048,141,386,4114,184,0.279688,0.881865,0.330986,0.267552,0.433846,0.957189,0.914222,0.761322,0.308442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,clstm_esm2_bert_t5,C039,C039,306,204,5015,45,0.701583,0.955296,0.710801,0.600000,0.871795,0.991107,0.960912,0.975487,0.792919
62,clstm_esm2_bert_t5,C035,C035,380,190,3216,100,0.684395,0.925373,0.723810,0.666667,0.791667,0.969843,0.944216,0.946106,0.804883
63,clstm_esm2_bert_t5,D011,D011,216,245,2364,67,0.543297,0.892116,0.580645,0.468547,0.763251,0.972439,0.906094,0.912770,0.658301
64,clstm_esm2_bert_t5,C048,C048,194,429,4071,131,0.374908,0.883938,0.409283,0.311396,0.596923,0.968824,0.904667,0.792085,0.403253
65,clstm_esm2_bert_t5,total,all,1364,1303,18446,373,0.594652,0.921996,0.619437,0.511436,0.785262,0.980180,0.934022,0.926169,0.695620